# Linux
# *.swp is already ignored by npm
.directory
*~

# OS X
# .DS_Store* and ._* are already ignored by npm
Icon?

# Windows
Thumbs.db
Desktop.ini
ehthumbs.db

# Project npm dependencies
/node_modules

# IDE
nbproject

# Unit tests
/tests

# Documentation
/site

# Git
.gitignore
.gitattributes

# Eslint
.eslintrc
